code[data-theme*=" "] {
  color: var(--shiki-light);
  background-color: var(--shiki-light-bg);
}

code[data-theme*=" "] span {
  color: var(--shiki-light);
}

[saved-theme="dark"] code[data-theme*=" "] {
  color: var(--shiki-dark);
  background-color: rgba(0, 0, 0, 0);
}

[saved-theme="dark"] code[data-theme*=" "] span {
  color: var(--shiki-dark);
}